<h2 mat-dialog-title>Modifier le statut</h2>
<div mat-dialog-content>
    <mat-select [(value)]="value">
        <mat-option [value]="TaskState.Todo">À faire</mat-option>
        <mat-option [value]="TaskState.InProgress">En cours</mat-option>
        <mat-option [value]="TaskState.Done">Complété</mat-option>
    </mat-select>
</div>
<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="close()">Annuler</button>
    <button mat-raised-button color="primary" (click)="save()">Modifier</button>
</div>